/* flexbox is One Dimensional -- row form or column form */

/* CSS GRID */
/* Multidimensional grid ... */
/* Grid-container - Grid-items - Grid-gaps */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-item {
  border: 1px solid black;
  background-color: cadetblue;
  color: white;
  padding: 8px;
}

.grid-container {
  display: grid;
  /* grid-template-columns: 2fr 1fr; */
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: 200px 150px; */
  grid-auto-rows: minmax(150px, auto);
  gap: 10px;

  /* grid-template-areas:
    "header header header"
    "sidebar content content"
    "sidebar content content"
    "footer footer footer"
    "end end end"; */
}

.grid-item1 {
  /* grid-area: header; */
  /* grid-column-start: 1;
  grid-column-end: -1; */
  /* grid-column: 1/-1; */
  grid-column: span 2;
}

.grid-item2 {
  /* grid-area: sidebar; */
  /* grid-row-start: 2;
  grid-row-end: 4; */
  grid-row: span 2;
}

.grid-item3 {
  /* grid-area: content; */
}

.grid-item4 {
  /* grid-area: footer; */
}

.grid-item5 {
  /* grid-area: end; */
  grid-column: span 2;
}
